<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change User Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style18.css') }}">
</head>
<body>
    <div class="container">
        <h1>Change User Password</h1>
        <form action="{{ url_for('change_user_password') }}" method="POST">
            <label for="username">Enter Username:</label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="new_password">Enter New Password:</label>
            <input type="password" id="new_password" name="new_password" required><br><br>

            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required><br><br>

            <input type="submit" value="Change Password">
        </form>
    </div>
</body>
</html>
