<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
    <title>Login</title>
   
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form method="POST" action="{{ url_for('login') }}">
            <label for="username"></label>
            <div class="input-group">
            <input type="text" id="username" name="username" required placeholder="Username"><i class="fa-solid fa-user" style="color: #161717;" id="icon"></i>
            </div><br>


            <label for="password"></label>
            <div class="input-group">
            <input type="password" id="password" name="password" required placeholder="Password"><i class="fa-solid fa-lock" style="color: #121212;" id="icon"></i><br>
        </div>
            <p>Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
            <button type="submit">Login</button>
        </form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

</body>
</html>




