<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remove User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style18.css') }}">
</head>
<body>
    <div class="container">
        <h1>Remove User</h1>
        <form action="{{ url_for('remove_user') }}" method="POST">
            <label for="username">Enter Username to Remove:</label>
            <input type="text" id="username" name="username" required><br><br>

            <input type="submit" value="Remove User">
        </form>
    </div>
</body>
</html>
